{% extends "base.html" %}

{% block content %}
<main class="container">
    <div class="row">
        {% for task in tasks %}
            <div class="col-md-4 mt-4">  <!-- Cada publicación ocupa 4 columnas -->
                <div class="card">
                    {% if task.image %}
                    <img src="{{ task.image.url }}" alt="Imagen de la tarjeta" class="card__image">
                    {% endif %}
                    <div class="card__content">
                        <h2 class="card__title">{{ task.title }}</h2>                        
                        <p class="card__description">{{ task.description }}</p>
                        <p><strong>Creado por</strong> {{ task.user.username }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
